body{background-color: aqua}

.TROLOLO { color: red  ; font-family: fantasy ; font-weight: 200    }

.video {  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce ; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 15s; /* don't forget to set a duration! */      }

h1 { color: blueviolet}
h2 {color: darkgoldenrod }
H3 { color : firebrick}